<div class="container-principal">

    <div class="container">
        <div class="card">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-registrar-persona" data-toggle="modal" data-target="#Modal">
            Registrar Persona
            </button>

            <!-- Modal -->
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title title-color" id="ModalLabel">REGISTRO DE PERSONAL</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        -->
                        </div>
                        <div class="modal-body">

                            <form action="">
                                <div class="form-group">
                                    <label for="">Nombre:</label>
                                    <input [(ngModel)]="persona.nombre" name="nombre" id="nombre" type="text" placeholder="Nombre" class="form-control " autofocus="autofocus">
                                </div>
                                <div class="form-group">
                                    <label for="">Apellidos:</label>
                                    <input [(ngModel)]="persona.apellido" name="apellido" id="apellido" type="text" placeholder="Apellidos" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Tipo de Documento:</label>
                                    <input [(ngModel)]="persona.tipoDocumento" name="tipoDocumento" id="tipoDocumento" type="text" placeholder="Tipo de Documento" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Número de Documento:</label>
                                    <input [(ngModel)]="persona.numeroDocumento" name="numeroDocumento" id="numeroDocumento" type="text" placeholder="Número de Documento" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="">Cargo:</label>
                                    <input [(ngModel)]="persona.cargo" name="cargo" id="cargo" type="text" placeholder="Cargo" class="form-control">
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="limpiarCamposPersona(persona)">
                                Cancelar
                            </button>
                            <button type="button" class="btn btn-registrar-modal" data-dismiss="modal" (click)="crearPersona(persona)">
                            Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <table class="table table-hover table-bordered">
                        <thead class="table-header">
                            <tr>
                                <th>NOMBRE</th>
                                <th>APELLIDO</th>
                                <th>TIPO DOCUMENTO</th>
                                <th>NÚMERO DOCUMENTO</th>
                                <th>CARGO</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        <tbody class="table-body">
                            <tr *ngFor="let persona of personas | paginate: { itemsPerPage: 5, currentPage: pageActual }; let i = index">
                                <td>{{persona.nombre}}</td>
                                <td>{{persona.apellido}}</td>
                                <td>{{persona.tipoDocumento}}</td>
                                <td>{{persona.numeroDocumento}}</td>
                                <td>{{persona.cargo}}</td>
                                <td>
                                    <button class="btn btn-editar">
                                        Editar
                                    </button>
                                    <button class="btn btn-danger btn-eliminar">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls class="pagination" (pageChange)="pageActual = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>