<body>
    <div class="body-per">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>¡Bienvenido!</h3>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Número de Documento</label>
                            <input [(ngModel)]="registro.documento" name="documento" id="documento" type="text" placeholder="Número de Documento" class="form-control " autofocus="autofocus">
                        </div>
                        <button type="submit " (click)="crearRegistro2(registro)" class="btn btn-danger ">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>